.container {
  height: 160px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--content-bg);
}

.text {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-family: 'KaiTi', 'STKaiti', 'FangSong', 'STFangsong';
}